[Desktop Entry]
Type=Application
Name=Bitcoin Feed
Comment=Live-Ansicht des Bitcoin-Mempools
Exec=btcfeed-app
Icon=store._21rebel.btcfeed
Terminal=false
Categories=Network;Monitor;
