[Desktop Entry]
Type=Application
Name=OrangeDeck
Comment=Live-Ansicht des Bitcoin-Mempools
Exec=orangedeck-app
Icon=store._21rebel.orangedeck
Terminal=false
Categories=Network;Monitor;
